--
-- PostgreSQL database dump
--

\restrict PG23oCAFa0K8PGOrkpDxL2yVawtevpGXKIfa98VVRzsgude7s72cQkHOfFIHUnw

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: cleanup_old_analytics(); Type: FUNCTION; Schema: public; Owner: shoukaku
--

CREATE FUNCTION public.cleanup_old_analytics() RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
    DELETE FROM command_analytics
    WHERE used_at < CURRENT_TIMESTAMP - INTERVAL '90 days';
    
    DELETE FROM snipes
    WHERE deleted_at < CURRENT_TIMESTAMP - INTERVAL '24 hours';
END;
$$;


ALTER FUNCTION public.cleanup_old_analytics() OWNER TO shoukaku;

--
-- Name: cleanup_old_snipes(); Type: FUNCTION; Schema: public; Owner: shoukaku
--

CREATE FUNCTION public.cleanup_old_snipes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Delete old snipes keeping only the 10 most recent per channel
    -- Uses a more efficient approach with a direct ID comparison
    WITH ranked AS (
        SELECT id, ROW_NUMBER() OVER (
            PARTITION BY channel_id 
            ORDER BY deleted_at DESC
        ) as rn
        FROM snipes
        WHERE channel_id = NEW.channel_id
    )
    DELETE FROM snipes
    WHERE id IN (
        SELECT id FROM ranked WHERE rn > 10
    );
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.cleanup_old_snipes() OWNER TO shoukaku;

--
-- Name: count_active_warns(character varying, character varying); Type: FUNCTION; Schema: public; Owner: shoukaku
--

CREATE FUNCTION public.count_active_warns(p_guild_id character varying, p_user_id character varying) RETURNS integer
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN (
        SELECT COUNT(*)
        FROM mod_infractions
        WHERE guild_id = p_guild_id
          AND user_id = p_user_id
          AND type = 'warn'
          AND active = true
          AND (expires_at IS NULL OR expires_at > NOW())
    );
END;
$$;


ALTER FUNCTION public.count_active_warns(p_guild_id character varying, p_user_id character varying) OWNER TO shoukaku;

--
-- Name: get_next_case_id(character varying); Type: FUNCTION; Schema: public; Owner: shoukaku
--

CREATE FUNCTION public.get_next_case_id(p_guild_id character varying) RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
    next_id INT;
BEGIN
    SELECT COALESCE(MAX(case_id), 0) + 1 INTO next_id
    FROM mod_infractions
    WHERE guild_id = p_guild_id;
    RETURN next_id;
END;
$$;


ALTER FUNCTION public.get_next_case_id(p_guild_id character varying) OWNER TO shoukaku;

--
-- Name: trim_user_music_history(); Type: FUNCTION; Schema: public; Owner: shoukaku
--

CREATE FUNCTION public.trim_user_music_history() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    DELETE FROM user_music_history
    WHERE id IN (
        SELECT id FROM user_music_history
        WHERE user_id = NEW.user_id
        ORDER BY played_at DESC
        OFFSET 100
    );
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.trim_user_music_history() OWNER TO shoukaku;

--
-- Name: update_moderation_timestamp(); Type: FUNCTION; Schema: public; Owner: shoukaku
--

CREATE FUNCTION public.update_moderation_timestamp() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_moderation_timestamp() OWNER TO shoukaku;

--
-- Name: update_updated_at(); Type: FUNCTION; Schema: public; Owner: shoukaku
--

CREATE FUNCTION public.update_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at() OWNER TO shoukaku;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: anime_favourites; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.anime_favourites (
    user_id character varying(20) NOT NULL,
    anime_id integer NOT NULL,
    anime_title text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.anime_favourites OWNER TO shoukaku;

--
-- Name: anime_notifications; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.anime_notifications (
    user_id character varying(20) NOT NULL,
    anime_id integer NOT NULL,
    notify boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.anime_notifications OWNER TO shoukaku;

--
-- Name: automod_settings; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.automod_settings (
    guild_id character varying(32) NOT NULL,
    enabled boolean DEFAULT false,
    spam_enabled boolean DEFAULT false,
    spam_threshold integer DEFAULT 5,
    spam_window_ms integer DEFAULT 5000,
    spam_action character varying(20) DEFAULT 'delete_warn'::character varying,
    spam_mute_duration_ms bigint DEFAULT 300000,
    duplicate_enabled boolean DEFAULT false,
    duplicate_threshold integer DEFAULT 3,
    duplicate_window_ms integer DEFAULT 30000,
    duplicate_action character varying(20) DEFAULT 'delete_warn'::character varying,
    links_enabled boolean DEFAULT false,
    links_whitelist text[] DEFAULT '{}'::text[],
    links_action character varying(20) DEFAULT 'delete_warn'::character varying,
    mention_enabled boolean DEFAULT false,
    mention_limit integer DEFAULT 5,
    mention_action character varying(20) DEFAULT 'delete_warn'::character varying,
    caps_enabled boolean DEFAULT false,
    caps_percent integer DEFAULT 70,
    caps_min_length integer DEFAULT 10,
    caps_action character varying(20) DEFAULT 'delete'::character varying,
    invites_enabled boolean DEFAULT false,
    invites_whitelist text[] DEFAULT '{}'::text[],
    invites_action character varying(20) DEFAULT 'delete_warn'::character varying,
    new_account_enabled boolean DEFAULT false,
    new_account_age_hours integer DEFAULT 24,
    new_account_action character varying(20) DEFAULT 'kick'::character varying,
    raid_enabled boolean DEFAULT false,
    raid_join_threshold integer DEFAULT 10,
    raid_window_ms integer DEFAULT 10000,
    raid_action character varying(20) DEFAULT 'lockdown'::character varying,
    raid_auto_unlock_ms bigint DEFAULT 300000,
    ignored_channels text[] DEFAULT '{}'::text[],
    ignored_roles text[] DEFAULT '{}'::text[],
    log_channel_id character varying(32),
    updated_at timestamp without time zone DEFAULT now(),
    filter_enabled boolean DEFAULT false,
    filtered_words text[] DEFAULT '{}'::text[],
    spam_interval integer DEFAULT 5000,
    caps_percentage integer DEFAULT 70,
    auto_warn boolean DEFAULT false,
    mute_duration bigint DEFAULT 300000,
    default_action character varying(20) DEFAULT 'warn'::character varying,
    warn_threshold integer DEFAULT 3,
    warn_action character varying(20) DEFAULT 'mute'::character varying,
    warn_reset_hours integer DEFAULT 24
);


ALTER TABLE public.automod_settings OWNER TO shoukaku;

--
-- Name: bot_stats; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.bot_stats (
    id integer NOT NULL,
    date date DEFAULT CURRENT_DATE,
    commands_used integer DEFAULT 0,
    messages_seen integer DEFAULT 0,
    guilds_joined integer DEFAULT 0,
    guilds_left integer DEFAULT 0,
    errors integer DEFAULT 0,
    uptime_seconds integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.bot_stats OWNER TO shoukaku;

--
-- Name: bot_stats_id_seq; Type: SEQUENCE; Schema: public; Owner: shoukaku
--

CREATE SEQUENCE public.bot_stats_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bot_stats_id_seq OWNER TO shoukaku;

--
-- Name: bot_stats_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shoukaku
--

ALTER SEQUENCE public.bot_stats_id_seq OWNED BY public.bot_stats.id;


--
-- Name: command_analytics; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.command_analytics (
    id integer NOT NULL,
    command_name character varying(50) NOT NULL,
    guild_id character varying(20),
    user_id character varying(20) NOT NULL,
    success boolean DEFAULT true,
    execution_time integer,
    error_message text,
    used_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.command_analytics OWNER TO shoukaku;

--
-- Name: command_analytics_id_seq; Type: SEQUENCE; Schema: public; Owner: shoukaku
--

CREATE SEQUENCE public.command_analytics_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.command_analytics_id_seq OWNER TO shoukaku;

--
-- Name: command_analytics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shoukaku
--

ALTER SEQUENCE public.command_analytics_id_seq OWNED BY public.command_analytics.id;


--
-- Name: guild_settings; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.guild_settings (
    guild_id character varying(20) NOT NULL,
    prefix character varying(10) DEFAULT '!'::character varying,
    language character varying(10) DEFAULT 'en'::character varying,
    welcome_channel character varying(20),
    welcome_message text,
    log_channel character varying(20),
    mod_log_channel character varying(20),
    music_channel character varying(20),
    dj_role character varying(20),
    mute_role character varying(20),
    auto_role character varying(20),
    settings jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.guild_settings OWNER TO shoukaku;

--
-- Name: guild_user_data; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.guild_user_data (
    guild_id character varying(20) NOT NULL,
    user_id character varying(20) NOT NULL,
    xp integer DEFAULT 0,
    level integer DEFAULT 1,
    messages integer DEFAULT 0,
    voice_time integer DEFAULT 0,
    warns integer DEFAULT 0,
    last_message_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.guild_user_data OWNER TO shoukaku;

--
-- Name: mod_infractions; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.mod_infractions (
    id integer NOT NULL,
    case_id integer NOT NULL,
    guild_id character varying(32) NOT NULL,
    user_id character varying(32) NOT NULL,
    moderator_id character varying(32) NOT NULL,
    type character varying(20) NOT NULL,
    reason text,
    duration_ms bigint,
    created_at timestamp without time zone DEFAULT now(),
    expires_at timestamp without time zone,
    active boolean DEFAULT true,
    reference_id integer,
    metadata jsonb DEFAULT '{}'::jsonb
);


ALTER TABLE public.mod_infractions OWNER TO shoukaku;

--
-- Name: mod_infractions_id_seq; Type: SEQUENCE; Schema: public; Owner: shoukaku
--

CREATE SEQUENCE public.mod_infractions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mod_infractions_id_seq OWNER TO shoukaku;

--
-- Name: mod_infractions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shoukaku
--

ALTER SEQUENCE public.mod_infractions_id_seq OWNED BY public.mod_infractions.id;


--
-- Name: mod_log_settings; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.mod_log_settings (
    guild_id character varying(32) NOT NULL,
    log_channel_id character varying(32),
    log_warns boolean DEFAULT true,
    log_mutes boolean DEFAULT true,
    log_kicks boolean DEFAULT true,
    log_bans boolean DEFAULT true,
    log_unbans boolean DEFAULT true,
    log_automod boolean DEFAULT true,
    log_filters boolean DEFAULT true,
    log_message_deletes boolean DEFAULT false,
    log_message_edits boolean DEFAULT false,
    log_member_joins boolean DEFAULT false,
    log_member_leaves boolean DEFAULT false,
    log_role_changes boolean DEFAULT false,
    log_nickname_changes boolean DEFAULT false,
    use_embeds boolean DEFAULT true,
    include_moderator boolean DEFAULT true,
    include_reason boolean DEFAULT true,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.mod_log_settings OWNER TO shoukaku;

--
-- Name: moderation_logs; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.moderation_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    guild_id character varying(20) NOT NULL,
    user_id character varying(20) NOT NULL,
    moderator_id character varying(20) NOT NULL,
    action character varying(20) NOT NULL,
    reason text,
    duration integer,
    expires_at timestamp with time zone,
    active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.moderation_logs OWNER TO shoukaku;

--
-- Name: nhentai_favourites; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.nhentai_favourites (
    user_id character varying(20) NOT NULL,
    gallery_id integer NOT NULL,
    gallery_title text NOT NULL,
    num_pages integer DEFAULT 0,
    tags text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.nhentai_favourites OWNER TO shoukaku;

--
-- Name: playlists; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.playlists (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id character varying(20) NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    tracks jsonb DEFAULT '[]'::jsonb,
    is_public boolean DEFAULT false,
    play_count integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.playlists OWNER TO shoukaku;

--
-- Name: raid_mode; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.raid_mode (
    guild_id character varying(32) NOT NULL,
    active boolean DEFAULT false,
    activated_at timestamp without time zone,
    activated_by character varying(32),
    auto_unlock_at timestamp without time zone,
    locked_channels text[] DEFAULT '{}'::text[],
    recent_joins jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.raid_mode OWNER TO shoukaku;

--
-- Name: snipes; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.snipes (
    id integer NOT NULL,
    channel_id character varying(20) NOT NULL,
    guild_id character varying(20) NOT NULL,
    user_id character varying(20) NOT NULL,
    content text,
    attachments jsonb DEFAULT '[]'::jsonb,
    deleted_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.snipes OWNER TO shoukaku;

--
-- Name: snipes_id_seq; Type: SEQUENCE; Schema: public; Owner: shoukaku
--

CREATE SEQUENCE public.snipes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.snipes_id_seq OWNER TO shoukaku;

--
-- Name: snipes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shoukaku
--

ALTER SEQUENCE public.snipes_id_seq OWNED BY public.snipes.id;


--
-- Name: user_afk; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.user_afk (
    id integer NOT NULL,
    user_id character varying(20) NOT NULL,
    guild_id character varying(20),
    reason text DEFAULT 'AFK'::text,
    "timestamp" bigint NOT NULL,
    type character varying(10) DEFAULT 'guild'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_afk OWNER TO shoukaku;

--
-- Name: user_afk_id_seq; Type: SEQUENCE; Schema: public; Owner: shoukaku
--

CREATE SEQUENCE public.user_afk_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_afk_id_seq OWNER TO shoukaku;

--
-- Name: user_afk_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shoukaku
--

ALTER SEQUENCE public.user_afk_id_seq OWNED BY public.user_afk.id;


--
-- Name: user_data; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.user_data (
    user_id character varying(20) NOT NULL,
    username character varying(100),
    global_xp integer DEFAULT 0,
    global_level integer DEFAULT 1,
    coins bigint DEFAULT 0,
    premium_until timestamp with time zone,
    settings jsonb DEFAULT '{}'::jsonb,
    badges jsonb DEFAULT '[]'::jsonb,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_data OWNER TO shoukaku;

--
-- Name: user_music_favorites; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.user_music_favorites (
    id integer NOT NULL,
    user_id character varying(20) NOT NULL,
    url text NOT NULL,
    title text NOT NULL,
    author text,
    duration integer,
    thumbnail text,
    added_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_music_favorites OWNER TO shoukaku;

--
-- Name: user_music_favorites_id_seq; Type: SEQUENCE; Schema: public; Owner: shoukaku
--

CREATE SEQUENCE public.user_music_favorites_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_music_favorites_id_seq OWNER TO shoukaku;

--
-- Name: user_music_favorites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shoukaku
--

ALTER SEQUENCE public.user_music_favorites_id_seq OWNED BY public.user_music_favorites.id;


--
-- Name: user_music_history; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.user_music_history (
    id integer NOT NULL,
    user_id character varying(20) NOT NULL,
    url text NOT NULL,
    title text NOT NULL,
    author text,
    duration integer,
    thumbnail text,
    played_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_music_history OWNER TO shoukaku;

--
-- Name: user_music_history_id_seq; Type: SEQUENCE; Schema: public; Owner: shoukaku
--

CREATE SEQUENCE public.user_music_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_music_history_id_seq OWNER TO shoukaku;

--
-- Name: user_music_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shoukaku
--

ALTER SEQUENCE public.user_music_history_id_seq OWNED BY public.user_music_history.id;


--
-- Name: user_music_preferences; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.user_music_preferences (
    user_id character varying(20) NOT NULL,
    default_volume integer DEFAULT 100,
    auto_play boolean DEFAULT false,
    announce_track boolean DEFAULT true,
    compact_mode boolean DEFAULT false,
    dj_mode boolean DEFAULT false,
    max_track_duration integer DEFAULT 600,
    max_queue_size integer DEFAULT 100,
    preferred_source character varying(32) DEFAULT 'youtube'::character varying,
    show_thumbnails boolean DEFAULT true,
    auto_leave_empty boolean DEFAULT true,
    vote_skip_enabled boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_music_preferences OWNER TO shoukaku;

--
-- Name: warn_thresholds; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.warn_thresholds (
    id integer NOT NULL,
    guild_id character varying(32) NOT NULL,
    warn_count integer NOT NULL,
    action character varying(20) NOT NULL,
    duration_ms bigint,
    reason text DEFAULT 'Automatic action due to warning threshold'::text
);


ALTER TABLE public.warn_thresholds OWNER TO shoukaku;

--
-- Name: warn_thresholds_id_seq; Type: SEQUENCE; Schema: public; Owner: shoukaku
--

CREATE SEQUENCE public.warn_thresholds_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.warn_thresholds_id_seq OWNER TO shoukaku;

--
-- Name: warn_thresholds_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shoukaku
--

ALTER SEQUENCE public.warn_thresholds_id_seq OWNED BY public.warn_thresholds.id;


--
-- Name: word_filters; Type: TABLE; Schema: public; Owner: shoukaku
--

CREATE TABLE public.word_filters (
    id integer NOT NULL,
    guild_id character varying(32) NOT NULL,
    pattern character varying(200) NOT NULL,
    match_type character varying(20) DEFAULT 'contains'::character varying,
    action character varying(20) DEFAULT 'delete_warn'::character varying,
    severity integer DEFAULT 1,
    created_by character varying(32),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.word_filters OWNER TO shoukaku;

--
-- Name: word_filters_id_seq; Type: SEQUENCE; Schema: public; Owner: shoukaku
--

CREATE SEQUENCE public.word_filters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.word_filters_id_seq OWNER TO shoukaku;

--
-- Name: word_filters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shoukaku
--

ALTER SEQUENCE public.word_filters_id_seq OWNED BY public.word_filters.id;


--
-- Name: bot_stats id; Type: DEFAULT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.bot_stats ALTER COLUMN id SET DEFAULT nextval('public.bot_stats_id_seq'::regclass);


--
-- Name: command_analytics id; Type: DEFAULT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.command_analytics ALTER COLUMN id SET DEFAULT nextval('public.command_analytics_id_seq'::regclass);


--
-- Name: mod_infractions id; Type: DEFAULT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.mod_infractions ALTER COLUMN id SET DEFAULT nextval('public.mod_infractions_id_seq'::regclass);


--
-- Name: snipes id; Type: DEFAULT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.snipes ALTER COLUMN id SET DEFAULT nextval('public.snipes_id_seq'::regclass);


--
-- Name: user_afk id; Type: DEFAULT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.user_afk ALTER COLUMN id SET DEFAULT nextval('public.user_afk_id_seq'::regclass);


--
-- Name: user_music_favorites id; Type: DEFAULT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.user_music_favorites ALTER COLUMN id SET DEFAULT nextval('public.user_music_favorites_id_seq'::regclass);


--
-- Name: user_music_history id; Type: DEFAULT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.user_music_history ALTER COLUMN id SET DEFAULT nextval('public.user_music_history_id_seq'::regclass);


--
-- Name: warn_thresholds id; Type: DEFAULT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.warn_thresholds ALTER COLUMN id SET DEFAULT nextval('public.warn_thresholds_id_seq'::regclass);


--
-- Name: word_filters id; Type: DEFAULT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.word_filters ALTER COLUMN id SET DEFAULT nextval('public.word_filters_id_seq'::regclass);


--
-- Data for Name: anime_favourites; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.anime_favourites (user_id, anime_id, anime_title, created_at) FROM stdin;
\.


--
-- Data for Name: anime_notifications; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.anime_notifications (user_id, anime_id, notify, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: automod_settings; Type: TABLE DATA; Schema: public; Owner: shoukaku
--



--
-- Data for Name: bot_stats; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.bot_stats (id, date, commands_used, messages_seen, guilds_joined, guilds_left, errors, uptime_seconds, created_at) FROM stdin;
1	2026-02-27	0	0	0	0	0	0	2026-02-27 08:53:47.606204+00
\.


--
-- Data for Name: command_analytics; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.command_analytics (id, command_name, guild_id, user_id, success, execution_time, error_message, used_at) FROM stdin;
\.


--
-- Data for Name: guild_settings; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.guild_settings (guild_id, prefix, language, welcome_channel, welcome_message, log_channel, mod_log_channel, music_channel, dj_role, mute_role, auto_role, settings, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: guild_user_data; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.guild_user_data (guild_id, user_id, xp, level, messages, voice_time, warns, last_message_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: mod_infractions; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.mod_infractions (id, case_id, guild_id, user_id, moderator_id, type, reason, duration_ms, created_at, expires_at, active, reference_id, metadata) FROM stdin;
\.


--
-- Data for Name: mod_log_settings; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.mod_log_settings (guild_id, log_channel_id, log_warns, log_mutes, log_kicks, log_bans, log_unbans, log_automod, log_filters, log_message_deletes, log_message_edits, log_member_joins, log_member_leaves, log_role_changes, log_nickname_changes, use_embeds, include_moderator, include_reason, updated_at) FROM stdin;
\.


--
-- Data for Name: moderation_logs; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.moderation_logs (id, guild_id, user_id, moderator_id, action, reason, duration, expires_at, active, created_at) FROM stdin;
\.


--
-- Data for Name: nhentai_favourites; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.nhentai_favourites (user_id, gallery_id, gallery_title, num_pages, tags, created_at) FROM stdin;
\.


--
-- Data for Name: playlists; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.playlists (id, user_id, name, description, tracks, is_public, play_count, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: raid_mode; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.raid_mode (guild_id, active, activated_at, activated_by, auto_unlock_at, locked_channels, recent_joins) FROM stdin;
\.


--
-- Data for Name: snipes; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.snipes (id, channel_id, guild_id, user_id, content, attachments, deleted_at) FROM stdin;
\.


--
-- Data for Name: user_afk; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.user_afk (id, user_id, guild_id, reason, "timestamp", type, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_data; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.user_data (user_id, username, global_xp, global_level, coins, premium_until, settings, badges, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_music_favorites; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.user_music_favorites (id, user_id, url, title, author, duration, thumbnail, added_at) FROM stdin;
\.


--
-- Data for Name: user_music_history; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.user_music_history (id, user_id, url, title, author, duration, thumbnail, played_at) FROM stdin;
\.


--
-- Data for Name: user_music_preferences; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.user_music_preferences (user_id, default_volume, auto_play, announce_track, compact_mode, dj_mode, max_track_duration, max_queue_size, preferred_source, show_thumbnails, auto_leave_empty, vote_skip_enabled, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: warn_thresholds; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.warn_thresholds (id, guild_id, warn_count, action, duration_ms, reason) FROM stdin;
\.


--
-- Data for Name: word_filters; Type: TABLE DATA; Schema: public; Owner: shoukaku
--

COPY public.word_filters (id, guild_id, pattern, match_type, action, severity, created_by, created_at) FROM stdin;
\.


--
-- Name: bot_stats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shoukaku
--

SELECT pg_catalog.setval('public.bot_stats_id_seq', 1, true);


--
-- Name: command_analytics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shoukaku
--

SELECT pg_catalog.setval('public.command_analytics_id_seq', 1, false);


--
-- Name: mod_infractions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shoukaku
--

SELECT pg_catalog.setval('public.mod_infractions_id_seq', 1, false);


--
-- Name: snipes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shoukaku
--

SELECT pg_catalog.setval('public.snipes_id_seq', 1, false);


--
-- Name: user_afk_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shoukaku
--

SELECT pg_catalog.setval('public.user_afk_id_seq', 1, false);


--
-- Name: user_music_favorites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shoukaku
--

SELECT pg_catalog.setval('public.user_music_favorites_id_seq', 1, false);


--
-- Name: user_music_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shoukaku
--

SELECT pg_catalog.setval('public.user_music_history_id_seq', 1, false);


--
-- Name: warn_thresholds_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shoukaku
--

SELECT pg_catalog.setval('public.warn_thresholds_id_seq', 1, false);


--
-- Name: word_filters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shoukaku
--

SELECT pg_catalog.setval('public.word_filters_id_seq', 1, false);


--
-- Name: anime_favourites anime_favourites_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.anime_favourites
    ADD CONSTRAINT anime_favourites_pkey PRIMARY KEY (user_id, anime_id);


--
-- Name: anime_notifications anime_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.anime_notifications
    ADD CONSTRAINT anime_notifications_pkey PRIMARY KEY (user_id, anime_id);


--
-- Name: automod_settings automod_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.automod_settings
    ADD CONSTRAINT automod_settings_pkey PRIMARY KEY (guild_id);


--
-- Name: bot_stats bot_stats_date_key; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.bot_stats
    ADD CONSTRAINT bot_stats_date_key UNIQUE (date);


--
-- Name: bot_stats bot_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.bot_stats
    ADD CONSTRAINT bot_stats_pkey PRIMARY KEY (id);


--
-- Name: command_analytics command_analytics_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.command_analytics
    ADD CONSTRAINT command_analytics_pkey PRIMARY KEY (id);


--
-- Name: guild_settings guild_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.guild_settings
    ADD CONSTRAINT guild_settings_pkey PRIMARY KEY (guild_id);


--
-- Name: guild_user_data guild_user_data_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.guild_user_data
    ADD CONSTRAINT guild_user_data_pkey PRIMARY KEY (guild_id, user_id);


--
-- Name: mod_infractions mod_infractions_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.mod_infractions
    ADD CONSTRAINT mod_infractions_pkey PRIMARY KEY (id);


--
-- Name: mod_log_settings mod_log_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.mod_log_settings
    ADD CONSTRAINT mod_log_settings_pkey PRIMARY KEY (guild_id);


--
-- Name: moderation_logs moderation_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.moderation_logs
    ADD CONSTRAINT moderation_logs_pkey PRIMARY KEY (id);


--
-- Name: nhentai_favourites nhentai_favourites_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.nhentai_favourites
    ADD CONSTRAINT nhentai_favourites_pkey PRIMARY KEY (user_id, gallery_id);


--
-- Name: playlists playlists_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.playlists
    ADD CONSTRAINT playlists_pkey PRIMARY KEY (id);


--
-- Name: playlists playlists_user_id_name_key; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.playlists
    ADD CONSTRAINT playlists_user_id_name_key UNIQUE (user_id, name);


--
-- Name: raid_mode raid_mode_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.raid_mode
    ADD CONSTRAINT raid_mode_pkey PRIMARY KEY (guild_id);


--
-- Name: snipes snipes_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.snipes
    ADD CONSTRAINT snipes_pkey PRIMARY KEY (id);


--
-- Name: mod_infractions unique_guild_case; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.mod_infractions
    ADD CONSTRAINT unique_guild_case UNIQUE (guild_id, case_id);


--
-- Name: word_filters unique_guild_pattern; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.word_filters
    ADD CONSTRAINT unique_guild_pattern UNIQUE (guild_id, pattern);


--
-- Name: warn_thresholds unique_guild_threshold; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.warn_thresholds
    ADD CONSTRAINT unique_guild_threshold UNIQUE (guild_id, warn_count);


--
-- Name: user_afk user_afk_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.user_afk
    ADD CONSTRAINT user_afk_pkey PRIMARY KEY (id);


--
-- Name: user_afk user_afk_user_id_guild_id_key; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.user_afk
    ADD CONSTRAINT user_afk_user_id_guild_id_key UNIQUE (user_id, guild_id);


--
-- Name: user_data user_data_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.user_data
    ADD CONSTRAINT user_data_pkey PRIMARY KEY (user_id);


--
-- Name: user_music_favorites user_music_favorites_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.user_music_favorites
    ADD CONSTRAINT user_music_favorites_pkey PRIMARY KEY (id);


--
-- Name: user_music_favorites user_music_favorites_user_id_url_key; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.user_music_favorites
    ADD CONSTRAINT user_music_favorites_user_id_url_key UNIQUE (user_id, url);


--
-- Name: user_music_history user_music_history_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.user_music_history
    ADD CONSTRAINT user_music_history_pkey PRIMARY KEY (id);


--
-- Name: user_music_preferences user_music_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.user_music_preferences
    ADD CONSTRAINT user_music_preferences_pkey PRIMARY KEY (user_id);


--
-- Name: warn_thresholds warn_thresholds_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.warn_thresholds
    ADD CONSTRAINT warn_thresholds_pkey PRIMARY KEY (id);


--
-- Name: word_filters word_filters_pkey; Type: CONSTRAINT; Schema: public; Owner: shoukaku
--

ALTER TABLE ONLY public.word_filters
    ADD CONSTRAINT word_filters_pkey PRIMARY KEY (id);


--
-- Name: idx_anime_fav_user; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_anime_fav_user ON public.anime_favourites USING btree (user_id);


--
-- Name: idx_cmd_analytics_date; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_cmd_analytics_date ON public.command_analytics USING btree (used_at);


--
-- Name: idx_cmd_analytics_name; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_cmd_analytics_name ON public.command_analytics USING btree (command_name);


--
-- Name: idx_cmd_analytics_user; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_cmd_analytics_user ON public.command_analytics USING btree (user_id);


--
-- Name: idx_cmd_analytics_user_date; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_cmd_analytics_user_date ON public.command_analytics USING btree (user_id, used_at DESC);


--
-- Name: idx_filters_guild; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_filters_guild ON public.word_filters USING btree (guild_id);


--
-- Name: idx_filters_severity; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_filters_severity ON public.word_filters USING btree (guild_id, severity);


--
-- Name: idx_guild_user_level; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_guild_user_level ON public.guild_user_data USING btree (guild_id, level DESC);


--
-- Name: idx_guild_user_xp; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_guild_user_xp ON public.guild_user_data USING btree (guild_id, xp DESC);


--
-- Name: idx_infractions_active; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_infractions_active ON public.mod_infractions USING btree (guild_id, active) WHERE (active = true);


--
-- Name: idx_infractions_created; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_infractions_created ON public.mod_infractions USING btree (created_at DESC);


--
-- Name: idx_infractions_expires; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_infractions_expires ON public.mod_infractions USING btree (expires_at) WHERE (expires_at IS NOT NULL);


--
-- Name: idx_infractions_guild; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_infractions_guild ON public.mod_infractions USING btree (guild_id);


--
-- Name: idx_infractions_type; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_infractions_type ON public.mod_infractions USING btree (guild_id, type);


--
-- Name: idx_infractions_user; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_infractions_user ON public.mod_infractions USING btree (guild_id, user_id);


--
-- Name: idx_mod_logs_active; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_mod_logs_active ON public.moderation_logs USING btree (guild_id, active) WHERE (active = true);


--
-- Name: idx_mod_logs_guild; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_mod_logs_guild ON public.moderation_logs USING btree (guild_id);


--
-- Name: idx_mod_logs_user; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_mod_logs_user ON public.moderation_logs USING btree (user_id);


--
-- Name: idx_nhentai_favourites_user; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_nhentai_favourites_user ON public.nhentai_favourites USING btree (user_id);


--
-- Name: idx_playlists_public; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_playlists_public ON public.playlists USING btree (is_public) WHERE (is_public = true);


--
-- Name: idx_playlists_user; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_playlists_user ON public.playlists USING btree (user_id);


--
-- Name: idx_snipes_channel; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_snipes_channel ON public.snipes USING btree (channel_id, deleted_at DESC);


--
-- Name: idx_user_afk_global; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_user_afk_global ON public.user_afk USING btree (user_id) WHERE (guild_id IS NULL);


--
-- Name: idx_user_afk_guild; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_user_afk_guild ON public.user_afk USING btree (guild_id) WHERE (guild_id IS NOT NULL);


--
-- Name: idx_user_afk_user; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_user_afk_user ON public.user_afk USING btree (user_id);


--
-- Name: idx_user_music_favorites_user_added; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_user_music_favorites_user_added ON public.user_music_favorites USING btree (user_id, added_at DESC);


--
-- Name: idx_user_music_favorites_user_id; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_user_music_favorites_user_id ON public.user_music_favorites USING btree (user_id);


--
-- Name: idx_user_music_history_user_id; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_user_music_history_user_id ON public.user_music_history USING btree (user_id);


--
-- Name: idx_user_music_history_user_played; Type: INDEX; Schema: public; Owner: shoukaku
--

CREATE INDEX idx_user_music_history_user_played ON public.user_music_history USING btree (user_id, played_at DESC);


--
-- Name: automod_settings automod_timestamp; Type: TRIGGER; Schema: public; Owner: shoukaku
--

CREATE TRIGGER automod_timestamp BEFORE UPDATE ON public.automod_settings FOR EACH ROW EXECUTE FUNCTION public.update_moderation_timestamp();


--
-- Name: mod_log_settings modlog_timestamp; Type: TRIGGER; Schema: public; Owner: shoukaku
--

CREATE TRIGGER modlog_timestamp BEFORE UPDATE ON public.mod_log_settings FOR EACH ROW EXECUTE FUNCTION public.update_moderation_timestamp();


--
-- Name: snipes trigger_cleanup_snipes; Type: TRIGGER; Schema: public; Owner: shoukaku
--

CREATE TRIGGER trigger_cleanup_snipes AFTER INSERT ON public.snipes FOR EACH ROW EXECUTE FUNCTION public.cleanup_old_snipes();


--
-- Name: user_music_history trim_user_music_history_trigger; Type: TRIGGER; Schema: public; Owner: shoukaku
--

CREATE TRIGGER trim_user_music_history_trigger AFTER INSERT ON public.user_music_history FOR EACH ROW EXECUTE FUNCTION public.trim_user_music_history();


--
-- Name: anime_notifications update_anime_notifications_timestamp; Type: TRIGGER; Schema: public; Owner: shoukaku
--

CREATE TRIGGER update_anime_notifications_timestamp BEFORE UPDATE ON public.anime_notifications FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();


--
-- Name: guild_settings update_guild_settings_timestamp; Type: TRIGGER; Schema: public; Owner: shoukaku
--

CREATE TRIGGER update_guild_settings_timestamp BEFORE UPDATE ON public.guild_settings FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();


--
-- Name: guild_user_data update_guild_user_data_timestamp; Type: TRIGGER; Schema: public; Owner: shoukaku
--

CREATE TRIGGER update_guild_user_data_timestamp BEFORE UPDATE ON public.guild_user_data FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();


--
-- Name: playlists update_playlists_timestamp; Type: TRIGGER; Schema: public; Owner: shoukaku
--

CREATE TRIGGER update_playlists_timestamp BEFORE UPDATE ON public.playlists FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();


--
-- Name: user_afk update_user_afk_timestamp; Type: TRIGGER; Schema: public; Owner: shoukaku
--

CREATE TRIGGER update_user_afk_timestamp BEFORE UPDATE ON public.user_afk FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();


--
-- Name: user_data update_user_data_timestamp; Type: TRIGGER; Schema: public; Owner: shoukaku
--

CREATE TRIGGER update_user_data_timestamp BEFORE UPDATE ON public.user_data FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();


--
-- Name: user_music_preferences update_user_music_preferences_timestamp; Type: TRIGGER; Schema: public; Owner: shoukaku
--

CREATE TRIGGER update_user_music_preferences_timestamp BEFORE UPDATE ON public.user_music_preferences FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();


--
-- PostgreSQL database dump complete
--

\unrestrict PG23oCAFa0K8PGOrkpDxL2yVawtevpGXKIfa98VVRzsgude7s72cQkHOfFIHUnw

